body {

	font-family: 'Montserrat', sans-serif;
	background-color: #333333;
	margin:0;
	padding:0;

}


.heading h1 {
	text-align: center;
font-family: 'Pacifico', cursive;
margin:0;
	padding:0;

}



.heading {
	background-color: #ff8080;
}

.book {
	text-align: center;
}

.select-book {
	font-size: 60px;
}


.row {
  max-width: 1000px;
  min-width:300px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

}

.second-row {
	text-align: center;
}

label {

	font-size: 50px;
}



.chapter li {
	display: inline;
	margin-right: 10px;
	border:1px solid;
	border-radius:4px;
	padding:2px;
}



 .chapter, .verse {

	display: inline;

}

.version {
	display:block;
	text-align: center;

}

.version label {

	font-size: 60px;
}

h1 {
	font-size: 100px;
}


 label {
 	font-size: 20px;
 }

.book select, .version select{
	width: 200px;
}

select {
	display: inline;
	width: 60px;
	font-size: 50px;
	color:white;

}

.chapter-display {
	color:white;
	text-align: center;
	
}